@import "tailwindcss";

@theme {
  /* Colores de Stich */
  --color-primary: #001833;
  --color-primary-container: #002d56;
  --color-secondary: #006c48;
  --color-secondary-container: #8bf8c2;
  --color-background: #f9f9ff;
  --color-text-main: #111c2d;
  --color-text-variant: #43474e;
  --color-surface-container: #e7eeff;
  --color-surface-highest: #d8e3fb;

  /* Fuentes */
  --font-display: var(--font-montserrat), sans-serif;
  --font-body: var(--font-inter), sans-serif;

  /* Bordes y Sombras */
  --radius-sm: 4px;
  --radius-lg: 8px;
  --shadow-ambient: 0px 4px 20px rgba(0, 45, 86, 0.05);
}